@charset "UTF-8";

/* general variables */
$color-brand: #2f7db3;
$color-primary: #269edd;
$color-yellow: #ffc400;
$color-red: #f34a80;
$color-pink: #ff7989;
$color-white: #fafcff;
$color-gray: #707070;

/* text variables */
$base-text-color: #333;
$link-color: $color-brand;
$error-text: #b60000;
$gray-text-color: #999999;
$dark-gray-text-color: #666666;
$light-dark-text-color: #cccccc;

/* button variables */
$button-gray: #707070;
$button-pink: $color-pink;
$button-blue: #0071b2;

/* input variables */
$input-bg-transparent: #{$color-white}99;
$input-hover-grey: #8b94a5;
$input-placeholder: #999999;
$input-border: #dadada;
$input-error-bg: #fbe4e4;

/* form variables */
$form-disabled-color: #d1d1d1;
$required-text: #b60000;
$required-border: #b60000;

$background-black: #111;
$background-gray: $button-gray;
$black-background-text: #eee;
$black-background-link-color: #{$color-brand}bb;
$background-hidden-color: #f6f7fa;

/* size variables */
$mobile-max-width: 480px;
$tablet-max-width: 834px;

@mixin mobile {
  @media only screen and (max-width: #{$mobile-max-width}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: #{$tablet-max-width}) {
    @content;
  }
}

$global-max-width: 1240px;

$full-hd-width: 1920px;

@mixin placeholder($color) {
  &::placeholder {
    color: $color;
    background-color: $color-white;
  }
  &::-webkit-input-placeholder {
    color: $color;
    background-color: $color-white;
  }
  &::-ms-input-placeholder {
    color: $color;
    background-color: $color-white;
  }
  &:-ms-input-placeholder {
    color: $color !important;
    background-color: $color-white;
  }
}
