.news-feed-post__wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

.news-feed-post__text__wrapper {
  color: $color-white;
  margin-bottom: 2rem;
  padding: 0 4rem;
  z-index: 1;

  .news-feed-post__title {
    font-size: 2.7rem;
    font-weight: 500;
  }
}
